/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/nova-components/FlowEditor/dist
/nova-components/FlowEditor/node_modules
/nova-components/MarketingSegments/dist
/nova-components/MarketingSegments/node_modules

